@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bricolage Grotesque", sans-serif;
}

a {
    cursor: pointer;
    text-decoration: none;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
}

input {
    outline: none;
    border: none;
    background-color: transparent;
}

/* FLEX-CENTER */
html, body, header, header nav, main, main section, section.hero .info, section.services .textBox, section.testimonials, 
section.testimonials .sliderButtonsBox button {
    display: flex;
    align-items: center;
    justify-content: center;
}

html {
    width: 100vw;
    background-color: #F7F6F4;
}

body {
    padding: 40px 100px 70px 100px;
    max-width: 100vw;
    width: 1440px;
    overflow-x: hidden;
    min-height: 100vh;
    height: 100%;
    flex-direction: column;
}

body::-webkit-scrollbar {
    width: 8px;
}
body::-webkit-scrollbar-track {
    background: transparent;
}
body::-webkit-scrollbar-thumb {
    background-color: #00373E;
    border-radius: 20px;
}

header {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px;
}

header h1 {
    font-size: 50px;
    line-height: 91px;
    color: #00373E;
    font-weight: bold;
    user-select: none;
}

header nav {
    gap: 70px;
}

header nav a {
    color: #00373E;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.5px;
    transition: transform 0.5s;
}

header nav a:hover {
    transform: scale(1.1);
}

main {
    flex-direction: column;
    gap: 150px;
    width: 100%;
    border: 2px red solid;
}

main section {
    width: 100%;
    border: 2px green solid;
}

/* HERO SECTION */

section.hero {
    position: relative;
    background-color: #F9E6D0;
    border-radius: 70px;
    overflow: hidden;
    height: 670px;
}

section.hero img {
    position: absolute;
    bottom: 0;
}

section.hero img.left {
    left: 0;
}

section.hero img.right {
    right: 0;
}

section.hero .info {
    flex-direction: column;
}

section.hero .info h2 {
    text-align: center;
    color: #00373E;
    font-size: 70px;
    font-weight: bold;
    width: 60%;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
}

section.hero .info p {
    width: 50%;
    text-align: center;
    font-weight: 400;
    color: #00373E;
    font-size: 24px;
    letter-spacing: 0.5px;
    margin-bottom: 45px;
}

section.hero .info button,
section.about .textBox button,
section.services .cardBox article .textBox button {
    background-color: #00373E;
    color: #fff;
    border-radius: 100px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.5px;
    padding: 16px 40px;
    transition: background-color 0.5s, color 0.5s;
}

section.hero .info button:hover,
section.about .textBox button:hover {
    background-color: rgba(0, 55, 62, 0.8);
}

/* ABOUT SECTION */

section.about {
    justify-content: space-between;
}

section.about .textBox,
section.services .textBox,
section.testimonials .textBox {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    color: #00373E;
    gap: 38px;
}

section.about .textBox h2,
section.services .textBox h2,
section.testimonials .textBox h2 {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}

section.about .textBox p.titleText,
section.services .textBox p.titleText,
section.testimonials .textBox p.titleText {    
    font-weight: bold;
    font-size: 52px;
    width: 60%;
}

section.about .textBox p.descriptionText,
section.services .textBox p.descriptionText,
section.testimonials .textBox p.descriptionText {
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    width: 60%;
}

section.about img{
    padding: 70px 68px 0px 68px;
    background-color: #00373E;
    border-radius: 60px;
}

/* SERVICES SECTION */

section.services {
    flex-direction: column;
    gap: 80px;
}

section.services .textBox {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

section.services .textBox h2, 
section.services .textBox p {
    text-align: center;
}

section.services .textBox p.descriptionText {
    width: 70%;
}

section.services .cardBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* две колонки */
    gap: 40px;
}

section.services .cardBox article {
    position: relative;
    display: flex;
    border-radius: 60px;
    overflow: hidden;
    padding: 75px 0px 60px 80px;
    background-color: #fff;
}

section.services .cardBox article img {
    position: absolute;
}

section.services .cardBox article:nth-child(1) {
    background-color: #F9E6D0;
    padding: 75px 50px 60px 80px;
}

section.services .cardBox article:nth-child(1) img {
    right: 50px;
    bottom: 75px;
}

section.services .cardBox article:nth-child(1) p.descriptionText {
    width: 60%;
}

section.services .cardBox article:nth-child(3) {
    grid-column: 1 / -1;
}

section.services .cardBox article:nth-child(3) img {
    right: 0;
    bottom: 0;
}

section.services .cardBox article .textBox {
    align-items: start;
    justify-content: start;
    gap: 35px;
}

section.services .cardBox article .textBox p {
    text-align: start;
}

section.services .cardBox article .textBox p.titleText {
    font-size: 40px;
    font-weight: 600;
}

section.services .cardBox article .textBox p.descriptionText {
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
}

section.services .cardBox article:nth-child(3) .textBox p.descriptionText {
    width: 60%;
}

section.services .cardBox article .textBox button {
    border: 1px #00373E solid;
    background-color: transparent;
    color: #00373E;
}

section.services .cardBox article .textBox button:hover {
    background-color: #00373E;
    color: #fff;
}

/* TESTIMONIALS SECTION */
section.testimonials {
    justify-content: start;
    overflow: hidden;
    position: relative;
}

section.testimonials .sliderButtonsBox {
    display: flex;
    align-items: center;
    gap: 20px;
}

section.testimonials .textBox {
    width: 50%;
}

section.testimonials .sliderButtonsBox button {
    border-radius: 100px;
    width: 54px;
    height: 54px;
    background-color: #fff;
    transition: all 0.5s;
}

section.testimonials .sliderButtonsBox button:hover {
    transform: scale(1.1);
}

section.testimonials .sliderButtonsBox button:nth-child(1) svg{
    transform: rotate(180deg);
}

section.testimonials .sliderButtonsBox button:nth-child(2) {
    background-color: #00373E;
}

section.testimonials .leftBox {
    right: -100px;
    position: absolute;
    display: flex;
    gap: 40px;
}

section.testimonials .leftBox article {
    width: 393px;
    height: 393px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 65px 50px 60px 50px;
    border-radius: 60px;
    background-color: #F9E6D0;
}

section.testimonials .leftBox article:nth-child(2) {
    background-color: #00373E;
}

section.testimonials .leftBox article .infoText,
section.testimonials .leftBox article .author {
    font-size: 20px;
    line-height: 26px;
    color: #fff;
}

section.testimonials .leftBox article:nth-child(1) .infoText,
section.testimonials .leftBox article:nth-child(1) .author {
    color: #00373E;
}